<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
  <title>DOFUS</title>
</head>
<body>
  <nav style="max-width: 760px;">
    <ul>
      <li (click)="activeMenu()"><i class="bi bi-list" style="-webkit-text-stroke-width:3px"></i></li>
      <li><img src="https://i.postimg.cc/HsmLSYXj/logo-mobile.png" alt=""></li>
      <li><img class="logo-login" src="https://i.postimg.cc/gJvWRhMs/0.png" alt=""></li>
    </ul>
  </nav>
  <div class="menu-page">
    <a routerLink="dofus">Ir al juego</a>
    <a routerLink="clases">Clases</a>
  </div>

  <router-outlet></router-outlet>
  <div class="container-1"></div>
  <br>
   <div><app-carousel2></app-carousel2></div>



</body>
</html>
