<div class="container" style="background-color: {{classes.image4Class}};">
  <div class="image1"><img [src]="classes.image2Class" alt=""></div>
  <div class="representation-container"><div class="representation-class" style="background-color: {{classes.image3Class}};">{{classes.representationClass}}</div></div>
  <div class="logo-container">
    <div class="logo-class"><img [src]="classes.logoClass" alt=""></div>
  </div>
  <div class="sentence">{{classes.sentenceClass}}</div>
  <div class="description">{{classes.aboutClass}}</div>

  <div class="mini-class"><img [src]="classes.videoClass" alt=""></div>

  <div class="button-play"><button>¡JUGAR CON UN UN {{classes.nameClass}}</button></div>


</div>
