


.image1{
  width: fit-content;
}

.image1 img{
  width: 100%;
}


.representation-class{
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
  color: white;
  text-align: center;

}

.logo-class{
  position: relative;
  bottom: 70px;
  right: 20%;
  max-width: 60px;
}

.logo-class img{
  width: 100%;
}

.logo-container{
  position: absolute;
}



.sentence{
  color: white;
  font-weight: 500px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.description{
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
  color: white;
  padding: 10 20 10 20;
  text-align: justify;
}

.mini-class{
  text-align: center;
}

button{
  text-transform: uppercase;
  width: 280px;
  height: 80px;
  background-color: #d39b2e;
  box-shadow: 0 0 0 4px #f8ce3e inset;
  border: 1px black solid;
  color: #f6eed6;
  font-size: 25px;
  font-weight: 900;
}

.button-play{
  text-align: center;
}
